.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: $card-width;
  padding: 32px 16px 16px;
  box-sizing: border-box;

  border: 1px solid $color-light;
  border-radius: 5px;
  transition: transform 300ms ease;
  will-change: transform;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin: 0 0 4px;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $text-color;
    transition: color 300ms ease;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 1;
    .card__title {
      color: $color-title-hover;
    }
  }

  &__code {
    margin: 0 0 16px;

    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $color-secondary;
  }

  &__stars {
    width: 166px;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    margin-bottom: 16px;
  }

  &__price-label {
    margin: 0;

    font-size: 12px;
    line-height: 18px;
    color: $color-secondary;
  }

  &__price-value {
    margin: 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $text-color;
  }

  &__buy-btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 166px;
    height: 40px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    color: $color-white;
    background-color: $color-blue;
    border: 1px solid $color-blue;
    border-radius: 5px;
    transition:
      color 300ms ease,
      background-color 300ms ease,
      border-color 300ms ease;

    &:hover {
      color: $color-blue;
      background-color: $color-white;
    }
  }
}
