$color-blue: #00acdc;
$text-color: #060b35;
$font-size: 12px;
$font-weight: 500;
$color-secondary: #616070;
$color-title-hover: #34568b;
$color-light: #f3f3f3;
$color-white: #fff;
$font-main: Roboto, sans-serif;
$logo-size: 40px;
$card-width: 200px;
$stars-size: 16px;
