$color-blue: #00acdc;
$text-color: #060b35;
$font-size: 12px;
$font-weight: 500;
$color-primary: #060b35;
$color-secondary: #616070;
$color-accent: #00acdc;
$color-light: #f3f3f3;
$color-white: #fff;
$font-main: Roboto, sans-serif;
$column-count: 1;
